<%= form_for @context, url: context_path(@context),
  html: {class: "ui form"}, 
  method: :patch do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Save", :class=> 'ui green button' %>
<% end %>
