<h1>Contexts</h1>
 
<ul class="ui list">
  <% @contexts.each do |context| %>
    <li class="item"> 
      <span class="right floated content">
        <a href=<%="#{contexts_path}/#{context.id}"%>
          data-method="delete">
          <i class="erase red icon"></i>
        </a>
        <a href=<%=edit_context_path(context.id)%>>
          <i class="edit green icon"></i>
        </a>
      </span>
      <i class="At teal icon"></i> 
      <span class="content">
        <%= context.name %>
      </span>
    </li>
  <% end %>
</ul>
