body{
  height: 100%;
}
body .grid{
  height: 100%;
}
input{
  background: none;
  border: none;
}
ul.ui.list .item:before{
  content: none;
}
.item.low{
  background: green;
}
.item.medium{
  background: orange;
}
.item.high{
  background: red;
}
